.timeSelector {
    display: flex;
    height: 38px;
    color: "#fff";
    margin-left: 3rem;
    border-radius: 10px;

}

// .timeSelector button {
//     background-color: #0d6efd;
//     border: none;
//     color: white;
//     padding: 5px 10px;
//     border-radius: 5px;
//     margin: 0 5px;
//     cursor: pointer;
// }
// .timeSelector button:hover {
//     background-color: #0a58ca;
// }
/* Assuming you are using a CSS module, otherwise use regular class names */
.btn {
    /* Common styles for buttons */
    padding: 10px 20px;
    border: 1px solid #000;
    cursor: pointer;
    color: #fff;
    box-shadow: rgb(145, 145, 56) 0px 0px 24px,
}

.dayBtn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #000435;
    // color: #fff;
}

.monthBtn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000435;
    // color: #fff;
}