/* Sidebar.module.scss */

.sidebar {
    width: 12rem;


    color: #fff;
    padding: 10px;
}

.sidebar-item {
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: transparent !important;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: inset 0 0 1px #00a1ff;
    transition: all .2s;


    &:hover {
        background-color: transparent !important;
        cursor: pointer;
        box-shadow: inset 0 0 1px #00a1ff;
        transition: all .2s;
        background: linear-gradient(90deg, transparent, rgba(26, 143, 254, .3) 80%, rgba(26, 143, 254, .4));
        border-right: 1px solid #1a8ffe;
    }
}

.sidebar-item-active {
    background-color: "#0000435";

}

.submenu {
    padding-left: 20px;
}