.main {
    height: 17rem;
    width: 22rem;
    margin-top: 26px;
    background:
        linear-gradient(135deg, rgba(0, 4, 53, 0.8) 0%, rgba(0, 4, 53, 0.8) 100%);
    box-shadow: 0 0px 18px rgba(221, 221, 62, 1);
    border-radius: 0 0 12px 12px;
}

.title {
    background-image: url(../../assets/images/title_bg.5ddf6ead.png);
    color: #fff;
    height: 32px;
    width: 100%;
    line-height: 32px;
    text-align: left;
    z-index: 9999;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.arrow {
    background-image: url(../../assets/images/arrow.png);
    height: 40px;
    width: 40px;
    animation: blink 4s ease-in-out infinite;

}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.arrow :hover {
    width: 200px;
    height: 150px;
    animation: blink 4s ease-in-out infinite;
}

.overView {
    line-height: " 32px";
    font-size: "14px"
}


.mainTitle {
    display: flex;
    justify-content: space-between;
}

.tileContain {
    display: flex;
}

.yellow {

    img {
        width: 30px;
        height: 15px;
        margin-left: 8px;
    }
}

.blue {

    img {
        width: 30px;
        height: 15px;
    }
}

.bodyMain {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    background:
        linear-gradient(135deg, rgba(0, 4, 53, 0.8) 0%, rgba(0, 4, 53, 0.8) 100%);

}

.right {

    img {
        height: 130px;
        width: 180px;
        margin-top: 20px;
        // margin-right: 50px;
            margin-left: 20px;
        margin-bottom: 2px;
    }
}

.image1 {

    img {

        width: 90px;
        margin-left: 70px;
        border-radius: 50%;
        position: absolute;
        transform-origin: 0px 0px;
        box-shadow: 0 0px 18px rgb(107, 197, 233);

    }


}

.imagecircle {

    img {

        width: 90px;
        margin-left: 70px;
        border-radius: 50%;
        position: absolute;
        transform-origin: 0px 0px;
        box-shadow: 0 0px 18px rgb(107, 197, 233);

    }


}


// .left {
//     margin-right: 50px;
// }

.normal {
    margin-left: 90px;
    color: #fff;
}

.saving {
    margin-left: 90px;
    color: #fff;
}
.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: "#fff";
    margin-top: 80px;

}

.centeredContent img {
    display: block;
    margin: 0 auto;

    position: absolute;

}