.sectionSignUp {
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .img {
        animation: slide-down 0.5s ease;
        height: 23rem;
    }

    .form {
        width: 20rem;
        animation: slide-up 0.5s ease;
    }

    @keyframes slide-up {
        0% {
            transform: translateY(-5rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes slide-down {
        0% {
            transform: translateY(5rem);
        }

        100% {
            transform: translateY(0);
        }
    }
}

// @media screen and (max-width: 700px) {
//     .sectionSignUp {
//         display: block;
//         margin: 12px;
//     }
// }

.paper {
    padding: 30px;
    margin-right: 20px;
    z-index: 1;

}

.heading {
    text-align: center;
    color: #fff;
}

.activeButton {
    background-color: #e93380;

}

.signup {
    margin-top: 15px;
    font-size: "10px";
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .img {
        display: none;
    }

    .form {
        display: block;
        width: auto;
    }

    // form {
    //     display: block;

    //     font-weight: 300;
    //     margin: 1rem auto;
    //     width: auto;

    //     border-radius: 3px;
    //     outline: none;
    // }
}
.videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

}

/* Style for the video element */
.videoBackground VideoPlayer {
    object-fit: cover;
    width: 100%;
    height: 100%;
}