.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

background-color: #000435;

    .img {
        animation: slide-down 0.5s ease;
        margin-right: 10%;
        z-index: 1;
    }

    @keyframes slide-up {
        0% {
            transform: translateY(-5rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes slide-down {
        0% {
            transform: translateY(5rem);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 700px) {
    .img {
        display: none;
    }
}
.videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

}

/* Style for the video element */
.videoBackground VideoPlayer {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.paper {
    padding: 30px;
    margin-right: 19.5rem;
    z-index: 1;
        margin-left: 20rem;
    
       
}

.heading {
    text-align: center;
    color: #fff;
}