.react-calendar {
  width: 27%;
  line-height: 20%;
}
.DateRangePicker__CalendarDatePeriod--pm {
  left: 0;
}
.DateRangePicker__CalendarDatePeriod--am {
  right: 0;
}
.DateRangePicker__MonthDates{
    background-color: #fff;
    border-radius: 10px;
}