.titleIot {
    position: fixed;
    width: 100%;
    left: 0;
    // height: 68px;
    color: #fff;
    font-size: large;
    z-index: 9990;
    background: linear-gradient(135deg, rgba(0, 4, 53, 0.8) 0%, rgba(0, 4, 53, 0.8) 100%);
    /* background-color: #000435; */
    margin-top: 3.7rem;
    text-align: center;
    background-image: url(../../../assets//images//iot.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.nameIot {
    color: #fff;
    ;
    font-size: 16px;
}