/* CircularProgressBar.css */

.circularProgress {
    position: relative;
    width: 50px;
    height: 50px;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #eca014;
}

.progressBar {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 50px, 100px, 0);
    border-radius: 50%;
    transform-origin: center center;
    animation: spin 3s linear infinite;
    /* Add infinite animation */
}

.iconContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        animation: spin 3s linear infinite;

    }
}

/* Add your own icon styles here */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}